<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Test Suite">
    <parameter name="url" value="${URL}"/>
    <parameter name="mainLogin" value="${MAIN_LOGIN}"/>
    <parameter name="mainPassword" value="${MAIN_PASSWORD}"/>
    <parameter name="adminLogin" value="${ADMIN_LOGIN}"/>
    <parameter name="adminPassword" value="${ADMIN_PASSWORD}"/>
    <parameter name="attachFolder" value="${ATTACH_FOLDER}"/>
    <parameter name="headless" value="${HEADLESS}"/>
    <parameter name="no_sandbox" value="${NO_SANDBOX}"/>
    <parameter name="disable_gpu" value="${DISABLE_GPU}"/>
    <test name="TEST">
        <!--parameter name="url" value="${URL}"/>
        <parameter name="mainLogin" value="${MAINLOGIN}"/>
        <parameter name="mainPassword" value="${MAINPASSWORD}"/>
        <parameter name="adminLogin" value="${ADMINLOGIN}"/>
        <parameter name="adminPassword" value="${ADMINPASSWORD}"/>
        <parameter name="attachFolder" value="${ATTACHFOLDER}"/>
        <parameter name="testENV" value="${TESTENV}"/-->
        <groups>
            <run>
                <include name = "LOCAL"/>
            </run>
        </groups>
        <classes>
            <!--class name="dicts.CheckingFiles"></class>
            <class name="dicts.Dicts_CumulativePlans"></class>
            <class name="dicts.SearchTests"></class>
            <class name="dicts.Labels"></class>
            <class name="dicts.Dicts_Incidents"></class>
            <class name="dicts.Dicts_KB"></class>
            <class name="events.Events_Incidents"></class>
            <class name="events.StatusTests"></class>
            <class name="map.MapTest"></class>
            <class name="pmi_tests.PimTests"></class>
            <class name="reports.Reports"></class>
            <class name="CleanUp"></class-->
            <class name="PlayGround"></class>
        </classes>
    </test>
</suite>